@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /*shadow*/
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header .logo {
    width: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #000;
}

header .logo h1 {
    margin: auto;
    color: #FF4DD8;
}

.navbar {
    justify-content: center;
}

.menu {
    text-decoration: none;
    display: flex;
    margin: 0;
    height: 100%;
}

.menu-item {
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    list-style: none;
    color: #fff;
    font-weight: bold;
    margin: auto 10px;
    padding: 10px 10px;
    border-radius:  5px;
}

header .menu .menu-item a {
    text-decoration: none;
    color: #000;
}

header .menu .menu-item:hover {
    color: #fff;
    background-color: #9747FF;
}

header .menu .menu-item a:hover {
    color: #fff;
}

.btn-open-account {
    color: #000;
    justify-content: center;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-open-account button {
    background-color: #9747FF;
    height: 100%;
    width: 100%;
    margin: auto;
    border: 0;
    border-radius: 5px;
}

.btn-open-account button:hover {
    background-color: #c397fd;
    color: #fff;
}
